DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me
DJANGO_READ_DOT_ENV_FILE=True
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres

AUTH_SAML2_ENABLED=False
LINEA_LOGIN_URL=/admin/login/?next=/
RUBIN_LOGIN_URL=/admin/login/?next=/
# When AUTH_SAML2_ENABLED=True:
# SITE_URL=https://wkfw.linea.org.br
# SAML_IDP_METADATA_URL=https://...
# SAML_SP_NAME=SP WKFW Dashboard

NAVBAR_IDAC_URL=https://scienceplatform-dev.linea.org.br/idac
NAVBAR_DATA_URL=https://data.linea.org.br/
NAVBAR_DOCS_URL=https://docs.linea.org.br/
