*.pyc
__pycache__/
*.sqlite3
db.sqlite3
.env
.venv/
venv/
node_modules/
staticfiles/
idac_drd/media/
logs/*.log
.pytest_cache/
.coverage
htmlcov/
frontend/dist/
idac_drd/static/frontend/
*.egg-info/
.DS_Store
config/certificates/*.key
config/certificates/*.cert
!config/certificates/README.md
/docker-compose.yml
