{% csrf_token %}
<div id="wkfw-root"
     data-page="{{ page }}"
     data-authenticated="{% if request.user.is_authenticated %}true{% else %}false{% endif %}"
     data-is-staff="{% if request.user.is_staff %}true{% else %}false{% endif %}"
     data-login-url="{% if settings.AUTH_SAML2_ENABLED %}{{ settings.LINEA_LOGIN_URL }}{% else %}{% url 'admin:login' %}?next={{ request.path }}{% endif %}"
     data-csrf-token="{{ csrf_token }}"
     {% if release_slug %}data-release-slug="{{ release_slug }}"{% endif %}></div>
<script type="module" src="{% static 'frontend/assets/main.js' %}"></script>
